<p id="notice"><%= notice %></p>

<%= search_form_for @search, url: search_snippets_path, method: :post, class: 'form-inline' do |f| %>
  <div class="form-group">
    <%= f.search_field :content_cont, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.submit 'Search', {class: 'btn btn-primary'} %>
  </div>
<% end %>

<div class="snip-header">
  <h1>
    <%= @snippets.size -%> out of <%= @count %> Snippets
    <%= link_to button_tag('Create Snippet', class: 'btn btn-primary pull-right'), new_snippet_path %>
  </h1>
</div>
<style>
  .snip-header {
      padding-bottom: 20px;
  }
</style>

<%= will_paginate @snippets %>

<div id="snippet">
    <div class="panel panel-default">
      <!-- List group -->
      <ul class="list-group">
        <% for snippet in @snippets %>
          <%= active_snippet?(snippet) %>
        <% end %>
      </ul>
    </div>
</div>

<%= will_paginate @snippets %>



